.header {
    background-color: rgb(191, 132, 247);
}
.header-div {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inicio {
    color: rgb(207, 41, 152);
    font-size: 40px;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.navbar-link {
    color: rgb(128, 33, 33);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

}